@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@layer components {
    .container-bg {
        @apply bg-neutral-100/20 backdrop-blur-[15px];
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
